Bin/
bin/
obj/
debug/
Debug/
release/
Release/
Package/
*.suo
*.user
_ReSharper/
_*/
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.ReSharper
**/*.user
**/*.suo
*.ReSharper/
*.svclog
*.sqlsuo
*.dbmdl